target/
.env
**/node_modules
dist/
**/node-compile-cache
data/
presharedkey
privatekey
**/.svelte-kit
.svelte-kit
apps/client/.svelte-kit

.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
**/build
.pnpm-store

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

config/deployer/kubectl/*
config/deployer/k8s/secrets/*
apps/client/.pnpm-store/v11/files/00/0205aca1b6099c59396eb8c496ea85b702526bccd8b66721076178baaf1c0b9757420feb52746a3df0022c7858244870f6a3b2391cf5485872861f19ba1f98
